*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a { 
    text-decoration: none;
}

.top{
    height: 1024px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(0001.jpg), url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &__content {
        padding-top: 217px;
        padding-bottom: 494px;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        max-width: 789px;
    }

    &__text-box {
        max-width: 480px;
        margin-top: 32px;
        margin-bottom: 44px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;

        &--fat {
            font-weight: 600;

        }
    }

    &__button {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        border: none;
        transition: all 0.3s;
    }

    &__button:hover {
        background: #EB443F;
    }

}

.content {
    background: #000915;
    padding-top: 128px;
    padding-bottom: 128px;

    .catalog {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);

        &__item {
            height: 300px;
            grid-column: span 4;
            box-sizing: border-box;
            border-radius: 16px;
            display: flex;
            align-items: flex-end;
            padding-bottom: 32px;
            padding-left: 32px;
            transition: all 0.1s;

            &--1 {
                background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game1.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border: none;
            }
            
            &--2 {
                background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            
            &--3 {
                background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game3.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &__item:hover {
            border: 3px solid #44D2FF;
        }

        &__item-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
        }      
    }
}

.game {
    background: #000915;
    padding-top: 282px;
    padding-bottom: 282px;

    .game-box {

        display: flex;
        gap: 135px;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 584px;
        }

        &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
        }

        &__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
        }

        &__button {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            width: 234.06px;
            height: 48.6px;
            background: #9C0332;
            border-radius: 30px;
            border: none;
            transition: all 0.3s;
        }

        &__button:hover {
            background: #EB443F;
        }
    
        &__img {
            max-width: 485px;
            max-height: 333px;
        }
    }


}

@import 'mobile'